.btn-slot{
    width: 100%;
}

.green{
    background-color: #54d054!important;
    color:#fff;
}

.red{
    background-color: red!important;
    color:#fff;
}  

.blue{
    background-color: rgb(119, 168, 241);
}

.full-width{
    width: 100%;
}

.mat-radio-button{
    margin-right: 5px!important;
}

.reports-btn{
    position: absolute;
    right: 60px;
}