.btn-slot{
    width: 100%;
}

.green{
    background-color: #54d054!important;
    color:#fff;
}

.red{
    background-color: red!important;
    color:#fff;
}   

.full-width{
    width: 100%;
}

.mat-radio-button{
    margin-right: 5px!important;
}